<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap" rel="stylesheet">
    <title>Lab12</title>
</head>
<body>
    <div id="app", class="page">
        <h1 class="h1">Список студентов</h1>
        <p class="text">Работа выполнена Журавлевым Юрием Викторовичем. Введите имя и фамилию в форму, чтобы подсчитать символы и внести их в список.</p>
        <h2 class = "h2">Форма</h2>
        <div class="form">
            <form>
                <p><label for="surname">Фамилия</label></p>
                <p><input id="sname" type="text" v-on:input="Ev1" v-model="Surname"></p>
                <p><label for="name">Имя</label></p>
                <p><input id="name" type="text" v-on:input="Ev2" v-model="Name"></p>
                <p class="kolvo">Количество знаков = </p>
                <p class="number">{{ kolvo }}</p>
                <button type="button" v-on:click="Add" v-bind:class="{ButtonDes: button}"><b>Вписать</b></button>
            </form>
        </div>
        <h2 class="spisok">Список</h2>
        <p class="spisok__net" v-show="visible">Список пуст</p>
        <div class="spisok__people">
            <ol>
                <li v-for="note in notes">{{ note }}</li>
            </ol>
        </div>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="script.js"></script>
</body>
</html>
