*{
    font-family: 'Comfortaa', cursive;
    color: #FFFFF0;
    padding: 0; 
    margin: 0; 
    box-sizing: border-box; 
}

body{
    height: 100%; 
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 37%, rgba(252,176,69,1) 86%);
}
.page{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.h1{
    margin-top: 80px;
    font-size: 50px;
}


.text{
    margin-top: 30px;
    font-size: 20px; 
}

.h2{
    margin-top: 50px; 
    margin-bottom: 10px;
    font-size: 30px;
}

input{
    background-color: #DC143C;
    outline: none;
    width: 250px;
    height: 30px; 
    border: 4px solid #FFF0F5;
    border-radius: 15px;
    padding: 5px;
    margin-top: 7px; 
    margin-bottom: 10px;
}


.kolvo{
    margin-top: 20px;
    margin-bottom: 20px;
}

button{
    background-color: #EE82EE;
    width: 80px;
    height: 30px; 
    border: 3px solid #F0FFF0;
    border-radius: 15px;
}


.disabled{
    background-color: #E6E6FA;
    width: 80px;
    height: 30px; 
    border: 3px solid #F0FFF0;
    border-radius: 15px;
}


form{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.spisok{
    margin-top: 30px;
}

.spisok__net{
    margin-top: 20px;
}

.spisok__people{
    margin-top: 20px;
}